<!--


<h1 class="h3 mb-4 text-gray-800">Create Brand</h1>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <form method="post" enctype="multipart/form-data">-->


            @*<div class="form-group">
                <label asp-for="@(new SelectList(courseFeatures,"Price"))">Price</label>
                <input type="text" asp-for="@(new SelectList(courseFeatures,"Price"))" class="form-control" id="Price" placeholder="Price" rows="3">
                <span asp-validation-for="@(new SelectList(courseFeatures,"Price"))" class="text-danger"></span>
            </div>*@
            <!--<div class="form-group">
                <label--> @*asp-for="@Model.Name"*@<!-->Course Name</label>
                <textarea--> @*asp-for="@Model.Name"*@ <!--class="form-control" id="CourseName" rows="3"></textarea>
                <span--> @*asp-validation-for="@Model.Name"*@ <!--class="text-danger"></span>
            </div>-->
            @*<div class="form-group">
                <label asp-for="@(new SelectList(courseFeatures,"StartTime"))">Course Date</label>
                <input type="date" asp-for="@(new SelectList(courseFeatures,"StartTime"))" id="Time" placeholder="Time" rows="3">
                <span asp-validation-for="@(new SelectList(courseFeatures,"StartTime"))" class="text-danger"></span>
            </div>*@
            <!--<div class="form-group">
                <label asp-for="">Description</label>
                <textarea--> @*asp-for="@Model.Description"*@ <!--class="form-control" id="Description" rows="3"></textarea>
                <span asp-validation-for="" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="">About</label>
                <input asp-for="" class="form-control col-md-2" id="AboutCourseInfo" rows="3">
                <span asp-validation-for="" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="">HowToApply</label>
                <input asp-for="" class="form-control col-md-2" id="HowToApplyInfo" rows="3">
                <span asp-validation-for="" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="">Certification</label>
                <input asp-for="" class="form-control col-md-2" id="CertificationInfo" rows="3">
                <span asp-validation-for="" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="">Category</label>
                <select class="form-control" asp-for="" asp-items="">
                </select>
            </div>

            <div class="form-group col-md-3">
                <label asp-for="">Tags</label>
                <select class="form-control" asp-for="" asp-items=")">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="">ImageFile</label>
                <input asp-for="" accept="image/*" class="form-control col-md-2" rows="3">
                <span asp-validation-for="" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>-->